# Dados e Modelos locais
data/
#models/

# MLflow local 
# mlruns/
mlartifacts/

# Python e Ambientes Virtuais
__pycache__/
*.pyc
.venv/
venv/
env/
.env
notebooks/.ipynb_checkpoints

# VS Code e Sistemas Operacionais
.vscode/
.DS_Store
Thumba.db
